.dropdown {
  background-color: #e3f2fd; /* Light blue background for the select dropdown */
  color: #0d47a1; /* Dark blue text color */

  .MuiOutlinedInput-notchedOutline {
    border-color: #1976d2; /* Border color */
  }

  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: #0d47a1; /* Darker blue on hover */
  }
}
