.exit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.pdf-upload-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
